{% extends "generalLayout.html" %}

{% block singleblog %}
    <div class="singleblog">
        <div class="header">
            <div class="title">
                {{ blog.title | safe }}
            </div>
            <div class="author">
                {% if blog.authorImage %}
                    <img src="{{ blog.authorImage }}" alt="NA" class="authorImage" />
                {% else %}
                    <img src="/static/assets/profile.svg" alt="NA" class="authorImage" />
                {% endif %}
                <div class="authorName">By {% if blog.authorName %}{{ blog.authorName | safe }}{% else %}Admin{% endif %}</div>
            </div>
            <div class="shareButton">
                <div class="shareText">Share:</div>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url }}" target="_blank">
                    <span class="material-icons material-icons-outlined">facebook</span>
                </a>
            </div>
        </div>
        <img src="{{ blog.image }}" alt="" class="imageBlog">
        <div class="blogText">
            {{ blog.content | safe }}
        </div>

        <div id="disqus_thread"></div>
    </div>

    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        
        var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://ajuwa-pythonanywhere-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock singleblog %}